* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.role-page-wrapper {
  background-color: #909590;
  height: 772px;
}

.title-section {
  text-align: center;
}

.main-title {
  font-size: 4em;
}

.project-title {
  font-size: 2.5em;
}

.role-split {
  display: flex;
  margin-top: 50px;
}

.role-wrapper {
  background-color: #03012c;
  width: 60%;
  margin: auto;
  height: 400px;
  padding: 50px;
}

.block-center {
  text-align: center;
  color: white;
  font-size: 1.3em;
}

.split {
  width: 40%;
  margin: auto;
  height: 300px;
}

.left {
  background-color: azure;
  text-align: center;
}

.right {
  background-color: azure;
  text-align: center;
}

.admin-svg {
  margin-top: 40px;
  margin-bottom: 40px;
}

.role-type {
  font-size: 2em;
  color: black;
}

.signin-a {
  text-decoration: none;
}

.h-5 {
  font-size: 7em;
  color: #002147;
}

.div-center {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  text-align: center;
  align-items: center;
  margin-top: 170px;
}

.p-2 {
  font-size: 2em;
}

.p-0 {
  margin: 15px;
}

.n-btn {
  background-color: 	#002147;
  color: white;
  border: none;
  padding: 10px;
  height: 50px;
  width: 190px;
  border-radius: 25px;
}
