.main-container {
  position: relative;
  margin-left: 332px;
  padding: 30px;
}

.category-title {
    font-size: 2.2em;
    margin-top: 120px;
}

.form-container {
    margin-top: 30px;
    width: 95%;
    border: 2px solid grey;
    border-top: 15px solid rgb(0, 191, 255); 
    height: 220px;
    padding: 15px;
    border-radius: 5px;
}

.form-title {
    font-size: 1.6em;

}

.form-border {
    width: 100%;
}

.form-input-text {
    margin-top: 30px;
    width: 99%;
    height: 50px;
    font-size: 1.4em;
    padding-left: 10px;
}

.submit-btn {
    position: absolute;
    right: 0;
    margin-right: 100px;
    width: 150px;
    height: 50px;
    margin-top: 30px;
    font-size: 1.4em;
    background-color: #04AA6D;
    color: white;
    font-weight: 600;
    border: none;
    transition: opacity 0.3s ease;
}

.submit-btn:hover {
    opacity: 0.7;
}

.staff-form {
    height: 1500px;
}

.per-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 8px;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 20px;
}
legend {
    font-size: 1.3em;
    font-weight: 600;
}
.per-info label {
    font-size: 1.3em;
}
.per-info input, .per-info select {
    width: 550px;
    height: 45px;
    border-radius: 5px ;
    border: 1px solid grey;
    font-size: 1.2em;
    padding-left: 10px;
}

.col-1, .col-2 {
    display: flex;
    flex-direction: column;
}